.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81px;
  color: #484848;
  border-bottom: 1px solid #e4e4e4;
}

.room-main {
  height: 5000px;


  .room-images {
    color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 441px;
    border-bottom: 1px solid #e4e4e4; 
  }
}

.room-main-body-container {
  display: flex;
  margin: 0px 251px 0px 251px;
  padding: 0px 24px 0px 24px;
  height: 100%;
}

.room-main-body {
  display: flex;
  justify-content: center;
  width: 100%;

  .room-main-body-left {
    width: 594px;
  }

  .room-main-body-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    .reservation-container {
      width: 376px;
      height: 387px;
      margin-top: 24px;
    }
  }
}

.reservation-component {
  position: relative;
  border: 1px solid #e4e4e4; 
  padding: 0px 24px 0px 24px;
  height: 100%;
}